<%- include('partials/header') %>

<main class="container my-5 text-white text-center">
  <h1 class="mb-4">Contact Me</h1>
  <p>If you'd like to reach out, just click the button below:</p>
  
  <a href="mailto:prajwalrajput05@gmail.com" class="btn btn-lg btn-outline-light mt-3">
    <i class="bi bi-envelope-fill me-2"></i> Send Email
  </a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="tel:+918007270161" class="btn btn-lg btn-outline-light mt-3">
    <i class="bi bi-telephone-fill me-2"></i>
 Call Me
  </a>
</main>

<%- include('partials/footer') %>
