html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto; /* Allows main to grow and push footer down */
}

footer {
  flex-shrink: 0; /* Prevent footer from shrinking */
}
nav{
    background-color: rgb(6, 3, 15) !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-out forwards;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in-left {
  opacity: 0;
  animation: slideInLeft 1s ease-out forwards;
}


body {
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: #ffffff;
}
.tech-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 12px;
  background: linear-gradient(135deg, #ffffff, #f0f0f0);
}

.tech-card:hover {
  transform: translateY(-8px) scale(1.03);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background: linear-gradient(135deg, #e0f7fa, #ffffff);
}

.btn-project{
  bottom: 0;
}

.card-title {
  color: #0dcaf0;
}

.card-text {
  font-size: 0.95rem;
}

.card img {
  max-height: 200px;
  object-fit: cover;
}

.project-card:hover{
  
  transform: translateY(-8px) scale(1.03);
  /* box-shadow: 0 0px 0px rgb(247, 246, 246); */
  /* background: linear-gradient(135deg, #fcf9f9ecec, #202020); */
}
